body {
    background-color: #dfd49e;
}
h1 {
    font-size: 85px;
    color: #dfd49e;
    background-color: #32301c;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}
h3 {
    color: #dfd49e;
    padding: 10px ;
    font-size: 50;
    padding-right: 1ch;
    text-align: right;
    float: right;
}

.countable {
    white-space: nowrap;
    width: 50%;
    background-color: #4B4A2F;
}

#tCount {
    background-color: #32301c;
    width: 5%;
    margin-left: 40%;
}

.input {
    float: right;
    width: 50%;
    font-size: larger;
    background-color: #4B4A2F;
    color: #dfd49e;
    text-align: right;
    padding-bottom: 7px;
    padding-top: 7px;
}
.btn {
    float: right;
    width: 8%;
    font-size: larger;
    font-weight: 00;
    background-color: #32301c;
    color: #dfd49e;
    padding-top: 6px;
    padding-bottom: 7px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 1%;

}