body {
    background-color: #dfd49e;
}
h1 {
    font-size: xx-large;
    font-weight: bold;
    color: #dfd49e;
    background-color: #32301c;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

.countable {
    float: right;
    white-space: nowrap;
    width: 50%;
    color: #dfd49e;
    background-color: #4B4A2F;
    
    font-size: larger;
    text-align: right;

    padding: 10px ;
    margin-left: 1ch; 
    height: 25%;
}

#tCount {
    float: right;
    white-space: nowrap;
    width: 10%;
    color: #dfd49e;
    background-color: #32301c;
    
    font-size: larger;
    text-align: center;
    
    padding: 10px ;
    height: 25%;
}

.input {
    white-space: nowrap;
    float: right;
    width: 50%;
    font-size: larger;
    background-color: #4B4A2F;
    color: #dfd49e;
    text-align: right;
    padding-bottom: 7px;
    padding-top: 7px;
    height: 20%;
    padding: 10px ;
    margin-left: 1ch; 

}
.btn {
    white-space: nowrap;
    float: right;
    width: 25%;
    height: 20%;
    font-size: larger;
    font-weight: bold;
    background-color: #32301c;
    color: #dfd49e;
    text-align: center;

    padding: 10px ;

}

@media screen and (max-width: 300) {
    .input, .btn {
      width: 100%; /* The width is 100%, when the viewport is 300 or smaller */
    }
  }